@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white-text-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Скрытый заголовок*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  margin-left: 10;
}

.logo__header {
  color: #212121;
  margin-right: 93px;
}

.logo__footer {
  color: #ffffff;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.site-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__list .site-nav__item {
  color: #2196f3;
  position: relative;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  color: var(--title-text-color);
  display: block;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover {
  color: var(--accent-text-color);
}

.site-nav__link:active {
  color: var(--accent-text-color);
}

.site-nav__link--current {
  display: block;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-text-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  border: 2px solid var(--accent-text-color);
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

/* Контакты хедер */
.site-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.site-contact .site-contact__item + .site-contact__item {
  margin-left: 50px;
}

.site-contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--main-text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-contact__link:hover,
.site-contact__link:focus {
  color: var(--accent-text-color);
}

.site-contact__mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contact__mail {
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contact__pfon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contact__pfon:hover {
  fill: currentColor;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  margin-top: 20px;
}

.address .address__item + .address__item {
  margin-top: 9px;
}

.address__link-map {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.address .address__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.subscribe-container {
  margin-left: 70px;
}

.subscribe-container__title {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-container__link:nth-child(4) {
  margin-right: 0;
}

.subscribe-container__link:hover {
  background-color: #2196f3;
}

.subscribe-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-container__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  fill: var(--white-text-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */