.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 600px;
    &__title {
            color: $white-text-color;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            width: 696px;
            margin: 0 auto;
        }
}
.hero__button {
    background-color: $accent-text-color;
    color: $white-text-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            box-shadow: 0px 4px 4px $shadow-color;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

