.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
}
.modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: $white-text-color;
    background-color: $white-text-color;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translate(-50%, -50%) scale(1);
    &__title {
            font-size: 20px;
            line-height: 23px;
            text-align: center;
            color: $title-text-color;
            margin-bottom: 12px;
        }
}

.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-form__cont {
    position: relative;
    &:hover {
            fill: $accent-text-color;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.modal-form__lebel {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.modal-form__input {
    position: relative;
    border: 1px solid rgba(33, 33, 33, 0.2);
    display: inline;
    height: 40px;
    width: 448px;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    border-radius: 4px;
    &:hover,
    &:focus {
            border: 1px solid $accent-text-color;
            outline: $accent-text-color;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
.modal-form__input:focus+.modal-form__icon {
    fill: $accent-text-color;
}
.modal-form__input:hover+.modal-form__icon {
    fill: $accent-text-color;
}
.modal-form__icon {
    position: absolute;
    justify-content: center;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    left: 15px;
    top: 45%;
}
.modal-form__lebel {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}
.modal-form__textarea {
    resize: none;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 12px 16px;
    &:hover,
    &:focus {
            border: 1px solid $accent-text-color;
            outline: $accent-text-color;
        }
}
.modal-form__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
}
/*Чекбокс  */
/* скрыла чекбокс от браузера */
.checkbox-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.form-chekbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.form-chekbox__icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 4px;
}
.checkbox-hidden:checked+.form-chekbox__icon {
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-text-color;
    background-color: $accent-text-color;
    background-image: url("../images/icon\ check\ \(1\).svg")
}
.form-chekbox__link {
    color: $accent-text-color;
}
.form-chekbox__lebel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.button-modal {
    background-color: $accent-text-color;
    color: $white-text-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal:hover .button:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #188CE8;
}
.button-modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $white-text-color;
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close__icon {
    fill: #000000;
    align-items: center;
    &:hover {
            fill: $accent-text-color;
            transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}
