.ourworks-container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.ourworks-container__title {
    color: $title-text-color;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.ourworks-container__list {
    display: flex;
    flex-wrap: wrap;
}
.ourworks-container__list .ourworks-container__item {
    width: 370px
}
.ourworks-container__list .ourworks-container__item+.ourworks-container__item {
    margin-left: 30px;
}
.ourworks-container__image {
    position: relative;
}
.ourworks-container__label {
    position: absolute;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    left: 0;
}
.ourworks-container__text {
    display: block;
    line-height: 1.14;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: $white-text-color;
    padding-top: 27px;
    padding-bottom: 27px;
    font-style: normal;
}