.portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio__list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio__list .portfolio__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolso__link {
    position: relative;
    display: block;
    text-decoration: none;
    &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}
.portfolio__list .portfolio__item:nth-child(3n) {
    margin-right: 0;
}
.portfolio__list .portfolio__item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

/* Кнопки портфолио */
.portfolio-button__label {
    background-color: $background-button-color;
    color: var(--title-text-color);
    border-radius: 4px;
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border: none;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
                background-color: $accent-text-color;
                color: $white-text-color;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                    0px 1px 2px rgba(0, 0, 0, 0.08),
                    0px 2px 2px rgba(0, 0, 0, 0.12);
                transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
    
}
.portfolio-button__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-button__list .portfolio-button__item+.portfolio-button__item {
    margin-left: 8px;
}
/* Портфолио overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.55;
}
.overlay__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: $white-text-color;
    letter-spacing: 0.03em;
}
.portfolso__image {
    position: relative;
    overflow: hidden;
    height: 294px;
}
.portfolso__link:hover .overlay {
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__container {
    width: 370px;
    background-color: $white-text-color;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-bottom: 1px solid $border-bottom;
    border-left: 1px solid $border-bottom;
    border-right: 1px solid $border-bottom;
}
.portfolio__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
}
.portfolio__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    padding: 0;
    margin-top: 4px;
    text-decoration: none;
    color: $main-text-color;
}