.team-section {
    background-color: $background-button-color;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-section__maintitle {
    color: $title-text-color;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}
.team-section__title {
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}
.team-section__list {
    display: flex;
    flex-wrap: wrap;
}
.team-section__list .team-section__item {
    width: 270px;
}
.team-section__list .team-section__item+.team-section__item {
    margin-left: 30px;
}
.team-section__team {
    width: 270px;
    background-color: $white-text-color;
    padding: 30px 32px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-section__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team-section__socialist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
  
}
.team-section__image {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: $color-icon;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-section__image:hover {
    background-color: $accent-text-color;
    fill: $white-text-color
}