$main-text-color: #757575;
$title-text-color: #212121;
$accent-text-color: #2196f3;
$white-text-color: #ffffff;
$address-text-color: rgba(255, 255, 255, 0.6);
$footer-hero-color: #2F303A;
$background-button-color: #f5f4fa;
$shadow-color: rgba(0, 0, 0, 0.15);
$border-bottom: #ECECEC;
$overlay-background: rgba(47, 48, 58, 0.4);
$color-icon: #AFB1B8;

*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--white-text-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* Скрытый заголовок*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section.no-padding {
    padding-top: 0;
}